.About-Title {
	position: absolute;
	width: 225px;
	height: 45px;
	left: 600px;
	top: 919px;
	font-style: normal;
	font-weight: 600;
	font-size: 27px;
	line-height: 177.9%;
	text-align: center;
	letter-spacing: 0.01em;
	color: #000000;
}

.iCreate {
	position: absolute;
	width: 225px;
	height: 45px;
	left: 700px;
	top: 919px;
	font-style: normal;
	font-weight: 600;
	font-size: 27px;
	line-height: 177.9%;
	text-align: center;
	letter-spacing: 0.01em;
}

.AboutUs-description {
	position: absolute;
	width: 929px;
	height: 109px;
	left: 305px;
	top: 1000px;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 177.9%;
	text-align: center;
	letter-spacing: 0.01em;
	color: #505050;
}

.SofiaBox {
	box-sizing: border-box;
	width: 529px;
	height: 315px;
	left: 200px;
	top: 1172px;
	position: absolute;
	border: 3px solid #F4F4F4;
	border-radius: 80px;
}

.SofiaBox:hover {
	border: 3px solid #b85eff;
}

.SofiaName {
	position: absolute;
	width: 153px;
	height: 20px;
	left: 110px;
	top: 50px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 20px;
	color: #000000;
}

.S-GraphicDesignTag {
	position: absolute;
	width: 129px;
	height: 24px;
	top: 94px;
	left: 130px;
	background: url(/src/assets/GraphicDesignTag.png);
}

.S-ModelIntTag {
	position: absolute;
	width: 173px;
	height: 24px;
	top: 128px;
	left: 86px;
	background: url(/src/assets/3DModelIntTag.png);
}

.S-TransferFaceTag {
	position: absolute;
	width: 117px;
	height: 24px;
	top: 162px;
	left: 142px;
	background: url(/src/assets/TransferFaceTag.png);
}

.S-ReactLogo {
	position: absolute;
	width: 39px;
	height: 39px;
	top: 197px;
	left: 32px;
	background: url(/src/assets/ReactLogo.png);
}

.S-JSLogo {
	position: absolute;
	width: 39px;
	height: 39px;
	top: 197px;
	left: 79px;
	background: url(/src/assets/JSLogo.png);
}

.S-FigmaLogo {
	position: absolute;
	width: 39px;
	height: 39px;
	top: 197px;
	left: 126px;
	background: url(/src/assets/FigmaLogo.png);
}

.S-BlenderLogo {
	position: absolute;
	width: 39px;
	height: 39px;
	top: 197px;
	left: 173px;
	background: url(/src/assets/BlenderLogo.png);
}

.S-ThreeJSLogo {
	position: absolute;
	width: 39px;
	height: 39px;
	top: 197px;
	left: 220px;
	background: url(/src/assets/ThreeJSLogo.png);
}

.SofiaFace {
	position: absolute;
	width: 200px;
	height: 222px;
	left: 293px;
	top: 29px;
	background: url(/src/assets/SofiaImage.png);
	border-radius: 60px;
}

.S-LinkedInLogo {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 261px;
	left: 328px;
	cursor: pointer;
	background: url(/src/assets/LinkedInLogo.png);
}

.S-GithubLogo {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 261px;
	left: 372px;
	cursor: pointer;
	background: url(/src/assets/GithubLogo.png);
}

.S-TwitterLogo {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 261px;
	left: 416px;
	cursor: pointer;
	background: url(/src/assets/TwitterLogo.png);
}

.AndrewBox {
	position: absolute;
	width: 542px;
	height: 319px;
	left: 800px;
	top: 1168px;
	box-sizing: border-box;
	border: 3px solid #F4F4F4;
	border-radius: 80px;
}

.AndrewBox:hover {
	border: 3px solid #b85eff;
}

.AndrewName {
	position: absolute;
	width: 200px;
	height: 20px;
	top: 58px;
	left: 278px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 20px;
	color: #000000;
}

.A-FrontEndDevTag {
	position: absolute;
	width: 195px;
	height: 24px;
	top: 98px;
	left: 278px;
	background: url(/src/assets/FrontEndDevTag.png);
}

.A-ModelIntTag {
	position: absolute;
	width: 173px;
	height: 24px;
	top: 132px;
	left: 278px;
	background: url(/src/assets/3DModelIntTag.png);
}

.A-TransferFaceTag {
	position: absolute;
	width: 117px;
	height: 24px;
	top: 166px;
	left: 278px;
	background: url(/src/assets/TransferFaceTag.png);
}

.A-ReactLogo {
	position: absolute;
	width: 39px;
	height: 39px;
	top: 201px;
	left: 278px;
	background: url(/src/assets/ReactLogo.png);
}

.A-JSLogo {
	position: absolute;
	width: 39px;
	height: 39px;
	top: 201px;
	left: 325px;
	background: url(/src/assets/JSLogo.png);
}

.A-HTML5Logo {
	position: absolute;
	width: 39px;
	height: 39px;
	top: 201px;
	left: 372px;
	background: url(/src/assets/HTML5Logo.png);
}

.A-CSSLogo {
	position: absolute;
	width: 39px;
	height: 39px;
	top: 201px;
	left: 419px;
	background: url(/src/assets/CSSLogo.png);
}

.A-PythonLogo {
	position: absolute;
	width: 39px;
	height: 39px;
	top: 201px;
	left: 466px;
	background: url(/src/assets/PythonLogo.png);
}


.AndrewFace {
	position: absolute;
	width: 200px;
	height: 222px;
	left: 40px;
	top: 29px;
	background: url(/src/assets/AndrewImage.png);
	border-radius: 60px;
}

.A-LinkedInLogo {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 265px;
	left: 81px;
	cursor: pointer;
	background: url(/src/assets/LinkedInLogo.png);
}

.A-GithubLogo {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 265px;
	left: 125px;
	cursor: pointer;
	background: url(/src/assets/GithubLogo.png);
}

.A-TwitterLogo {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 265px;
	left: 169px;
	cursor: pointer;
	background: url(/src/assets/TwitterLogo.png);
}

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 600px) {

	/* For tablets: */
	.col-s-1 {
		width: 8.33%;
	}

	.col-s-2 {
		width: 16.66%;
	}

	.col-s-3 {
		width: 25%;
	}

	.col-s-4 {
		width: 33.33%;
	}

	.col-s-5 {
		width: 41.66%;
	}

	.col-s-6 {
		width: 50%;
	}

	.col-s-7 {
		width: 58.33%;
	}

	.col-s-8 {
		width: 66.66%;
	}

	.col-s-9 {
		width: 75%;
	}

	.col-s-10 {
		width: 83.33%;
	}

	.col-s-11 {
		width: 91.66%;
	}

	.col-s-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {

	/* For desktop: */
	.col-1 {
		width: 8.33%;
	}

	.col-2 {
		width: 16.66%;
	}

	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33%;
	}

	.col-5 {
		width: 41.66%;
	}

	.col-6 {
		width: 50%;
	}

	.col-7 {
		width: 58.33%;
	}

	.col-8 {
		width: 66.66%;
	}

	.col-9 {
		width: 75%;
	}

	.col-10 {
		width: 83.33%;
	}

	.col-11 {
		width: 91.66%;
	}

	.col-12 {
		width: 100%;
	}
}