/* App Header */
.App-header {
	position: absolute;
}
/* Beta */
.Beta {
	position: absolute;
	width: 275px;
	height: 39px;
	left: 1200px;
	top: 75px;
	border-radius: 30px;
	cursor: pointer;
	border-radius: 100rem;
	padding: 1rem;
	font-size: 1rem;
	padding: .5rem 3rem;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 4px transparent;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #fff inset;
}
/* Beta Hover */
.Beta:hover {
	box-shadow: none;
	color: white;
}
/* Navigation links */
.nav-links {
	position: absolute;
	width: 562px;
	height: 44px;
	left: 480px;
	top: 55px;
}

.nav-links li {
	display: inline-block;
	padding: 10px 30px;
}

.nav-links li a {
	transition: all 0.3s ease 0s;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
}

.nav-links li a:hover {
	color: #ff4aed;
}

li,
a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #515455;
	text-decoration: none;
}
/* Logo */
.logo {
	position: absolute;
	top: 60px;
	width: 35px;
	height: 55px;
	left: 20px;
	background-image: url(/src/assets/enclothed_logo.png);
}

.site-title {
	position: absolute;
	width: 600px;
	height: 82px;
	left: 60px;
	font-style: normal;
	font-weight: 555;
	font-size: 70px;
	line-height: 82px;
}

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 600px) {

	/* For tablets: */
	.col-s-1 {
		width: 8.33%;
	}

	.col-s-2 {
		width: 16.66%;
	}

	.col-s-3 {
		width: 25%;
	}

	.col-s-4 {
		width: 33.33%;
	}

	.col-s-5 {
		width: 41.66%;
	}

	.col-s-6 {
		width: 50%;
	}

	.col-s-7 {
		width: 58.33%;
	}

	.col-s-8 {
		width: 66.66%;
	}

	.col-s-9 {
		width: 75%;
	}

	.col-s-10 {
		width: 83.33%;
	}

	.col-s-11 {
		width: 91.66%;
	}

	.col-s-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {

	/* For desktop: */
	.col-1 {
		width: 8.33%;
	}

	.col-2 {
		width: 16.66%;
	}

	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33%;
	}

	.col-5 {
		width: 41.66%;
	}

	.col-6 {
		width: 50%;
	}

	.col-7 {
		width: 58.33%;
	}

	.col-8 {
		width: 66.66%;
	}

	.col-9 {
		width: 75%;
	}

	.col-10 {
		width: 83.33%;
	}

	.col-11 {
		width: 91.66%;
	}

	.col-12 {
		width: 100%;
	}
}
